.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    place-content: center;
    align-items: center;
    background-image: url('./assets/background.jpg');
    background-size: 100% 100%;
    color: white;
}

.text {
    text-align: center;
}

.row {
    width: 90%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
}

.carta-box {
    margin: 100px;
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
  }
  
  .carta-box:hover .carta {
      transform: rotateY(180deg);
  }
  
  .carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
  }
  
  .cara {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
  }

  
@media only screen and (max-device-width: 360px) {

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        place-content: center flex-start;
        align-items: center;
    }

    .row {
        width: 90%;
        height: 90%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        place-content: center flex-start;
        align-items: center;
        overflow: auto;
    }

}

